body
{
  background-color: #ffe6e0;
}


@keyframes logo_start
{
  0%    {opacity: 0.0; transform: translate(750px, 20px) scale(1.4);}
  50%   {opacity: 1.0; transform: translate(750px, 20px) scale(1.4);}
  100%  {opacity: 1.0; transform: translate(550px, -200px) scale(1.0);}
}

@keyframes button_start
{
  0%     {opacity:0.0;}
  50%    {opacity:0.0;}
  100%   {opacity:1.0;}
}

@keyframes text_start
{
  0%     {opacity:0.0; transform: translate(0, 0px);}
  50%    {opacity:0.0; transform: translate(0, 0px);}
  100%   {opacity:1.0; transform: translate(0, -400px);}
}

.logoStart
{
  animation-name: logo_start;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.buttonStart
{
  animation-name: button_start;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.textStart
{
  animation-name: text_start;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

button
{
  border-style: none;
  border:2px solid #ffe6e0;
  background-color: inherit;
  font-family: Arial;
  font-size: 25px;
  color:#666666;
}

h1
{
  color:#4d4d4d;
  font-family: Arial;
  text-align: center;
}

button:hover
{
  border-color: #999999;
}

.background
{
  color: white;
  font-family: Arial;
  text-align: center;
  background-color: #666699;
  border: 10px solid #666699;
  font-size: 40px;
}

a
{
  text-decoration:none;
}
