body
{
  background-color: #ffe6e0;
}

@keyframes logo_start
{
  0%    {opacity: 0.0; transform: translate(750px, 20px) scale(1.4);}
  50%   {opacity: 1.0; transform: translate(750px, 20px) scale(1.4);}
  100%  {opacity: 1.0; transform: translate(550px, -200px) scale(1.0);}
}

@keyframes button_start
{
  0%     {opacity:0.0;}
  50%    {opacity:0.0;}
  100%   {opacity:1.0;}
}

@keyframes text_start
{
  0%     {opacity:0.0; transform: translate(0, 0px);}
  50%    {opacity:0.0; transform: translate(0, 0px);}
  100%   {opacity:1.0; transform: translate(0, -400px);}
}

.logoStart
{
  animation-name: logo_start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.buttonStart
{
  animation-name: button_start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.textStart
{
  animation-name: text_start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

button
{
  border-style: none;
  border:2px solid #ffe6e0;
  background-color: inherit;
  font-family: Arial;
  font-size: 25px;
  color:#666666;
}

h1
{
  color:#4d4d4d;
  font-family: Arial;
  text-align: center;
}

button:hover
{
  border-color: #999999;
}

h2
{
  color: white;
  font-family: Arial;
  text-align: center;
  font-size: 40px;
}

.box {
   display: flex;
   align-items:center;
}

div.background
{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #564C65;
}
